<div>


  <!-- Modal -->
  <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-[60%] mx-auto relative">

      <div class="flex justify-between items-center mb-4 ">
        <h2 class="text-xl font-semibold mb-4">{{ mode ? 'Edit Admin' : 'Add Admin' }}</h2>

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>

      </div>


    </div>
  </div>

  <!-- Admins Table -->
  <table class="w-full bg-white shadow rounded overflow-hidden text-center mt-[15px] ">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-2 px-4">#</th>
        <th class="py-2 px-4">userName</th>
        <th class="py-2 px-4">Email</th>
        <th class="py-2 px-4">Phone</th>
        <th class="py-2 px-4">City</th>
        <!-- <th class="py-2 px-4">Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users ; trackBy : trackBy ;let i = index" class="border-b">
        <td class="py-2 px-4 align-middle ">{{ i + 1 }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.firstName }} {{ user.lastName }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.email }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.mobileNumber }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.city }}</td>
        <!-- <td class="py-3 px-4 text-center align-middle">
          <div class="flex justify-center items-center space-x-2">
            <button (click)="showUser(user)"
              class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">Show</button>
            <button (click)="deleteAdmin(admin.id)"
              class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button>
          </div>
        </td> -->
      </tr>
    </tbody>
  </table>

  <div>
    <div class="container mx-auto p-4">

      <!-- Pagination -->
      <div class="p-4">
        <!-- Page Information -->
        <div class="flex justify-between items-center mb-4 text-lg font-semibold">
          <div class="text-gray-700">
            Page {{ currentPage }} of {{ totalPages }} | Total Products: {{ totalProducts }}
          </div>

          <!-- Pagination Controls -->
          <div class="flex items-center gap-2">
            <button
              (click)="goToPage(currentPage - 1)"
              [disabled]="currentPage === 1"
              class="px-4 py-2 border cursor-pointer rounded bg-gray-200 disabled:hover:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-[0.5]"
            >
              Previous
            </button>

            <ng-container *ngFor="let page of visiblePages">
              <button (click)="goToPage(page)" class="px-4 py-2 border rounded hover:bg-blue-300 cursor-pointer"
                [ngClass]="{
                  'bg-blue-500 text-white': page === currentPage,
                  'bg-gray-200': page !== currentPage
                }">
                {{ page }}
              </button>
            </ng-container>

            <button
              (click)="goToPage(currentPage + 1)"
              [disabled]="currentPage === totalPages"
              class="px-4 py-2 border cursor-pointer rounded bg-gray-200 disabled:hover:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-[0.5]"
            >
              Next
            </button>
          </div>
        </div>
      </div>



    </div>

  </div>

</div>
