<div>

   <div class="mb-4 ">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search By Email..."
      class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>


  <!-- Modal Notification -->
  <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-[80%] mx-auto max-h-[90vh] overflow-y-auto scrollbar-hide relative">

      <div class="flex justify-end items-center mb-4 ">
        <!-- <h2 class="text-xl font-semibold mb-4">{{ mode ? 'Edit Admin' : 'Add Admin' }}</h2> -->

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>
      </div>

      <div class="mb-6 grid grid-cols-2 gap-4">
        <div><strong>First Name:</strong> {{ selectedUser?.firstName }}</div>
        <div><strong>Last Name:</strong> {{ selectedUser?.lastName }}</div>
        <div><strong>Email:</strong> {{ selectedUser?.email }}</div>
        <div><strong>Mobile:</strong> {{ selectedUser?.mobileNumber }}</div>
        <div><strong>City:</strong> {{ selectedUser?.city }}</div>
        <div><strong>Points:</strong> {{ selectedUser?.Points }}</div>
      </div>

      <h3 class="text-lg font-semibold mb-2" *ngIf="(selectedUser?.notifications.length) > 0" >Notifications</h3>

      <table class="w-full border text-sm text-left" *ngIf="(selectedUser?.notifications.length) > 0" >
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="p-2 border">Order Date</th>
            <th class="p-2 border">Status (EN)</th>
            <th class="p-2 border">Status (AR)</th>
            <th class="p-2 border">Details (EN)</th>
            <th class="p-2 border">Details (AR)</th>
            <th class="p-2 border">OrderNumber</th>
            <th class="p-2 border">Paid</th>
            <th class="p-2 border">Remaining</th>
            <th class="p-2 border">Fatora</th>
            <th class="p-2 border text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notif of selectedUser?.notifications; let i = index"  >
            <td class="p-2 align-middle border">{{ notif.orderDate ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderStatus?.en ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderStatus?.ar ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderDetails?.en ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderDetails?.ar ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderNumber ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.orderPaid ?? 'N/A' }}</td>
            <td class="p-2 align-middle border">{{ notif.remainingAmount ?? 'N/A' }}</td>
            <td class="py-2 px-4 align-middle border ">
              <!-- <img *ngIf="notif.image.secure_url" class=" mx-auto w-[50px] h-[50px] rounded-full " [src]="notif.image.secure_url" alt="">
              {{ !(notif.image.secure_url) ?? 'No Image' }} -->
              <ng-container *ngIf="notif.image?.secure_url; else noImage">
                <img class="mx-auto w-[50px] h-[50px] rounded-full" [src]="notif.image.secure_url" alt="User Image">
              </ng-container>
              <ng-template #noImage>No Image</ng-template>
            </td>
            <td class="py-3 px-4 text-center border align-middle">
              <div class="flex justify-center items-center space-x-2">

              <button (click)="editNotification(notif , selectedUser?.email)"
                class="bg-yellow-400 text-white px-3 py-1 rounded hover:bg-yellow-500">Edit</button>
              <!-- <button (click)="deleteNotification(notif._id)"
                class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- Modal User -->
  <div *ngIf="showModalUser" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-[60%] mx-auto max-h-[90vh] overflow-y-auto scrollbar-hide relative">

      <div class="flex justify-end items-center mb-4 ">
        <!-- <h2 class="text-xl font-semibold mb-4">{{ mode ? 'Edit Admin' : 'Add Admin' }}</h2> -->

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="editUserWithPoints()" class="space-y-4 ">


        <!-- حقل البريد الإلكتروني -->
        <div class="w-full flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">Enter Your Email </label>
          <input type="text" formControlName="email" placeholder="Enter Your Name"
            class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <!-- <small *ngIf="userForm.get('email')?.invalid"
            class="text-red-500 mt-1">
            Valid email is invalid.
          </small> -->
        </div>

        <!-- حقل النقاط -->
        <div class="w-full flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">Enter Your Points </label>
          <input type="text" formControlName="Points" placeholder="Enter Your Points"
            class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <small *ngIf="userForm.get('Points')?.invalid && userForm.get('Points')?.touched" class="text-red-500">
              Points must be a valid number.
            </small>
        </div>

        <!-- زر الإرسال -->
        <button type="submit" [disabled]="userForm.invalid"
          class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition disabled:opacity-50">
          Save
        </button>

      </form>


    </div>
  </div>

  <!-- Form Edit Notification -->

  <div *ngIf="formEditNotification" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-[60%] mx-auto max-h-[90vh] overflow-y-auto scrollbar-hide relative">

      <div class="flex justify-end items-center mb-4 ">
        <!-- <h2 class="text-xl font-semibold mb-4">{{ mode ? 'Edit Admin' : 'Add Admin' }}</h2> -->

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>
      </div>

      <form [formGroup]="orderForm" (ngSubmit)="updateNotificationOrder()" class="space-y-4">


        <div class="flex justify-between gap-3 " >
          <div class="w-full flex flex-col">
            <label class="text-[18px] font-medium text-gray-700 mb-1">Enter Your Email </label>
            <input type="text" formControlName="email" placeholder="Enter Your Name"
              class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <!-- <small *ngIf="orderForm.get('email')?.invalid"
              class="text-red-500 mt-1">
              Valid email is invalid.
            </small> -->
          </div>
        </div>

        <div class="flex justify-between gap-3 " >

          <!-- رقم الطلب -->
          <div class="w-full flex flex-col">
            <label class="block text-gray-700 font-medium mb-2">Order Number</label>
            <input type="number" formControlName="orderNumber" placeholder="Enter order number"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>

          <!-- تاريخ الطلب -->
          <div class="w-full flex flex-col">
            <label class="block text-gray-700 font-medium mb-2">Order Date</label>
            <input type="text" formControlName="orderDate"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
        </div>

        <div class="flex justify-between gap-3" >

          <!-- المبلغ المدفوع -->
          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Order Paid</label>
            <input type="number" formControlName="orderPaid" placeholder="Enter paid amount"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>

          <!-- المبلغ المتبقي -->
          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Remaining Amount</label>
            <input type="number" formControlName="remainingAmount" placeholder="Enter remaining amount"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
        </div>

        <div class="flex justify-between gap-3" >

          <!-- حالة الطلب -->
          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Order Status (EN)</label>
            <input type="text" formControlName="orderStatus_en" placeholder="Enter status in English"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>

          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Order Status (AR)</label>
            <input type="text" formControlName="orderStatus_ar" placeholder="أدخل الحالة بالعربية"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 text-right" />
          </div>
        </div>

        <div class="flex justify-between gap-3" >
          <!-- تفاصيل الطلب -->
          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Order Details (EN)</label>
            <textarea formControlName="orderDetails_en" placeholder="Enter details in English"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
          </div>

          <div class="w-full flex flex-col ">
            <label class="block text-gray-700 font-medium mb-2">Order Details (AR)</label>
            <textarea formControlName="orderDetails_ar" placeholder="أدخل التفاصيل بالعربية"
              class="w-full border rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 text-right"></textarea>
          </div>
        </div>

        <!-- صورة الطلب -->
        <!-- <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2">Order Image</label>
          <input type="file" (change)="onFileSelected($event)" class="w-full border rounded px-4 py-2">
          <img *ngIf="imagePreview" [src]="imagePreview" class="mt-2 w-32 h-32 object-cover rounded shadow" />
        </div> -->

        <!-- صورة الطلب -->
        <div class="w-full flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">Order Image</label>

          <!-- زر رفع الصورة -->
          <div class="relative border-2 border-dashed border-blue-500 rounded-lg p-4 flex flex-col items-center justify-center
                      cursor-pointer bg-blue-50 transition">
            <input type="file" (change)="onFileSelected($event)" accept="image/*"
              class="absolute inset-0 opacity-0 cursor-pointer" *ngIf="!imagePreview" />

            <svg *ngIf="!imagePreview" class="w-12 h-12 text-blue-500 mb-2" fill="none" stroke="currentColor"
              stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
            </svg>

            <p class="text-gray-600" *ngIf="!imagePreview">Click to upload an image</p>

            <!-- عرض الصورة المرفوعة -->
            <div class="relative w-32 h-32 mt-4" *ngIf="imagePreview">
              <img [src]="imagePreview" class="w-full h-full object-cover rounded-lg border border-gray-300 shadow">
              <button type="button" (click)="removeImage()" class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-red-600 transition">
                ✕
              </button>
            </div>
          </div>
        </div>


        <!-- زر الإرسال -->
        <button type="submit" [disabled]="orderForm.invalid"
          class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition disabled:opacity-50">
          Update
        </button>

      </form>

    </div>
  </div>




  <!-- Users Table -->
  <table class="w-full bg-white shadow rounded overflow-hidden text-center mt-[15px] ">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-2 px-4">#</th>
        <th class="py-2 px-4">userName</th>
        <th class="py-2 px-4">Email</th>
        <th class="py-2 px-4">Phone</th>
        <th class="py-2 px-4">City</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers ; trackBy : trackBy ;let i = index" class="border-b">
        <td class="py-2 px-4 align-middle ">{{ i + 1 }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.firstName }} {{ user.lastName }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.email }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.mobileNumber }}</td>
        <td class="py-2 px-4 align-middle ">{{ user.city }}</td>
        <td class="py-3 px-4 text-center align-middle">
          <div class="flex justify-center items-center space-x-2">
            <button (click)="showUser(user)"
              class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">Show</button>
            <button (click)="editUser(user)"
              class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-400">Edit</button>
            <!-- <button (click)="deleteUser(user.id)"
              class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <!-- <div>
    <div class="container mx-auto p-4">

      <div class="p-4">
        <div class="flex justify-between items-center mb-4 text-lg font-semibold">
          <div class="text-gray-700">
            Page {{ currentPage }} of {{ totalPages }} | Total Products: {{ totalProducts }}
          </div>

          <div class="flex items-center gap-2">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"
              class="px-4 py-2 border cursor-pointer rounded bg-gray-200 disabled:hover:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-[0.5]">
              Previous
            </button>

            <ng-container *ngFor="let page of visiblePages">
              <button (click)="goToPage(page)" class="px-4 py-2 border rounded hover:bg-blue-300 cursor-pointer"
                [ngClass]="{
                  'bg-blue-500 text-white': page === currentPage,
                  'bg-gray-200': page !== currentPage
                }">
                {{ page }}
              </button>
            </ng-container>

            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"
              class="px-4 py-2 border cursor-pointer rounded bg-gray-200 disabled:hover:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-[0.5]">
              Next
            </button>
          </div>
        </div>
      </div>



    </div>

  </div> -->

</div>
